params {
    overalloutput = ''

    trim         = false
    onlyqc       = false   

    samplesheet    = ''
    reads          = ''
    indexforstar   = ''
    gtf_file       = ''

    outdir_fastqc  = "${params.overalloutput}/fastqc/"
    outdir_trim    = "${params.overalloutput}/trim/"
    outdir_star    = "${params.overalloutput}/star/"
    outdir_quant   = "${params.overalloutput}/quant/"
    outdir_multiqc = "${params.overalloutput}/fastqc/multiqc/"
}

ansiLog = false

manifest {
    name           = 'Bulk RNA-seq Preprocessing'
    description    = 'QC, trimming, alignment, and quantification pipeline'
    author         = 'Luca Farinola'
    version        = '2.0'
}

report {
    enabled = true
    file    = "${params.overalloutput}/report.html"
}

timeline {
    enabled = true
    file    = "${params.overalloutput}/timeline.html"
}

trace {
    enabled = true
    file    = "${params.overalloutput}/trace.txt"
    overwrite = true
}


process {
    executor    = 'local'
    stageInMode = 'symlink'
    cache       = 'lenient'
    errorStrategy = 'retry'
    maxRetries  = 2

    withLabel: fastqc {
                cpus   = 4
                memory = 8.GB
    }

    withLabel: trim {
                cpus   = 4
                memory = 8.GB
    }

    withLabel: star_align {
                cpus   = 16
                memory = 64.GB
    }

    withLabel: quant {
                cpus   = 16
                memory = 16.GB
    }

    withLabel: multiqc {
        cpus   = 1
        memory = 2.GB
    }
}


profiles {

  docker {
    docker.enabled = true
  }
   
palma {
    singularity.enabled = true
    process.executor = 'slurm'
    process.queue = 'normal'
    process.clusterOptions = '--time=08:00:00'
    workDir = '/scratch/tmp/lfarinol/nextflowtemporary' 
    singularity.autoMounts = true          
    process.beforeScript = 'module load palma/2024a Singularity'  
}

  test {

    // ---- inputs (match your repo layout) ----
    params.indexforstar = "${projectDir}/testdata/tiny/tiny_index"
    params.gtf_file     = "${projectDir}/testdata/tiny/tiny.final.gtf"
    params.samplesheet  = "${projectDir}/testdata/reads/samplesheet.csv"

    // Only keep this if your pipeline explicitly uses params.reads
    params.reads        = "${projectDir}/testdata/reads/*.fastq.gz"

    params.overalloutput  = ""
    params.outdir_fastqc  = "${params.overalloutput}_fastqc/"
    params.outdir_trim    = "${params.overalloutput}_trim/"
    params.outdir_star    = "${params.overalloutput}_star/"
    params.outdir_quant   = "${params.overalloutput}_quant/"
    params.outdir_multiqc = "${params.overalloutput}_fastqc/multiqc/"

    process {
      withLabel: fastqc {
        cpus   = 1
        memory = 1.GB
      }

      withLabel: trim {
        cpus   = 1
        memory = 1.GB
      }

      withLabel: star_align {
        cpus   = 1
        memory = 2.GB
      }

      withLabel: quant {
        cpus   = 1
        memory = 1.GB
      }
    }
  }

}
